
.links{
    width: 25%;
    display: inline-block;
    background-color: gray;
    position: sticky;
    bottom: 500px;
    
   
}

.menu-items{
    width: 50%;
    display: inline-block;
    position: relative;
   h1{
       text-align: center;
   }
   h2{
    text-align: center;
}
    
}

.box{
    margin-top: 150px;
}
.item{
    display: inline-block;
    margin: 100px;
}