<div class="container">
    
<div class="links">
  <ul>
      <li>Breakfast</li>
      <li>Drinks</li>
      <li>Burgers</li>
      <li>Chicken/Sandwich/Salad</li>
      <li>Dessert/Shakes</li>
      <li>Caffe drinks</li>
      <li>Caffe meals</li>
      <li>Snacks</li>
  </ul>
</div>

<div class="menu-items">
    <h1>Full menu</h1>
        <div class="box breakfast">
            <h2>Breakfast</h2>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <br>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <br>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <br>
                <p class="item">Item</p>
                <p class="item">Item</p>
               
        </div>
        <div class="box drinks">
                <h2>Drinks</h2>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
        </div>
        <div class="box burgers">
            <h2>Burgers</h2>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <br>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <p class="item">Item</p>
                <br>
                <p class="item">Item</p>
        </div>
        <div class="box chicken">
                <h2>Chicken/Sandwich/Salad</h2>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
            </div>
        <div class="box desert">
                <h2>Dessert/Shakes</h2>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
            </div>
        <div class="box caffe-drink">
                <h2>Caffe drinks</h2>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <br>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    <p class="item">Item</p>
                    
                    
                    
            </div>
            <div class="box caffe-meal">
                    <h2>Caffe meals</h2>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                       
            </div>
            <div class="box snack">
                    <h2>Snacks</h2>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                        <br>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                        <p class="item">Item</p>
                        <br>
                        <p class="item">Item</p>
                       
            </div>
</div>

</div>