.welcome {
    margin-top: -45px;
    text-align: center;
    font-size: 50px;
    min-width: 100%;
    position:relative;
    display:inline-block;
    
}



 #myVideo {
     position: absolute; 
     width: 100% !important;
     height: 500px !important;
     z-index: -1;
     top:0; left:0;
     object-fit: fill;
     opacity: 0.8;
   }

#welcometext{
    color: #fff;
    text-shadow: 2px 2px #000;
    top:0; left:0;
}

#mekdonalds{
    text-shadow: 5px 5px 10px #FF0000, 0 0 10px #0000FF;
}



