.welcome {
    
    text-align: center;
    font-size: 50px;
    min-width: 100%;
    position:relative;
    display:inline-block;
    
}



 #myVideo {
     position: absolute; 
     width: 100% !important;
     height: 500px !important;
     z-index: -1;
     top:0; left:0;
     object-fit: fill;
     opacity: 0.8;
   }

#welcometext{
    color: #fff;
    text-shadow: 2px 2px #000;
    top:0; left:0;
}

#mekdonalds{
    text-shadow: 5px 5px 10px #FF0000, 0 0 10px #0000FF;
}



//Blinking text


@keyframes blink {
    0% { text-shadow: 0 0 15px #00FF00; }
    50% { text-shadow: none; }
    100% { text-shadow: 0 0 15px #00FF00; }
}

@-webkit-keyframes blink {
    0% { text-shadow: 0 0 15px #00FF00; }
    50% { text-shadow: 0 0 0; }
    100% { text-shadow: 0 0 15px #00FF00; }
}



.popular-items{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 30px;
    -webkit-animation: blink 3.0s linear infinite;
    -moz-animation: blink 3.0s linear infinite;
    -ms-animation: blink 3.0s linear infinite;
    -o-animation: blink 3.0s linear infinite;
    animation: blink 3.0s linear infinite;


    

}








.menu-item{
    margin: 0;
    display: inline-block;
    width: 25%;
    

}

.menu-item-name{
 text-align: center;
 
}

.menu-item-img{
  width: 150px;
  height: 200px;
  display:block;
  margin:auto;
  border-radius: 50%;
}







.links-item{
    background-color: grey;
    margin-top: 20px;
    display: inline-block;
    width: 33%;
    text-align: center;
}